# Preprocessing Data

## DatMin 19 Februari 2019

## Data cleaning

In [24]:
import pandas as pd
import numpy as np

In [25]:
data= pd.read_csv("movie_metadata.csv")
data.head() #menampilkan 5 data teratas

,movie_code,duration,facenumber_in_poster,country,budget,gross,num_voted_users,num_user_for_reviews,num_critic_for_reviews,movie_facebook_likes,director_facebook_likes,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,cast_total_facebook_likes,imdb_score,imdb_score_class
0,1,178.0,0.0,USA,237000000.0,760505847.0,886204,3054.0,723.0,33000,0.0,1000.0,936.0,855.0,4834,7.9,Good
1,2,169.0,0.0,USA,300000000.0,309404152.0,471220,1238.0,302.0,0,563.0,40000.0,5000.0,1000.0,48350,7.1,Good
2,3,148.0,1.0,UK,245000000.0,200074175.0,275868,994.0,602.0,85000,0.0,11000.0,393.0,161.0,11700,6.8,Good
3,4,164.0,0.0,USA,250000000.0,448130642.0,1144337,2701.0,813.0,164000,22000.0,27000.0,23000.0,23000.0,106759,8.5,Excellent
4,5,132.0,1.0,USA,263700000.0,73058679.0,212204,738.0,462.0,24000,475.0,640.0,632.0,530.0,1873,6.6,Good

## Missing Value

In [26]:
data.describe() #menampilkan data deskriptif

,movie_code,duration,facenumber_in_poster,budget,gross,num_voted_users,num_user_for_reviews,num_critic_for_reviews,movie_facebook_likes,director_facebook_likes,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,cast_total_facebook_likes,imdb_score
count,5042.000000,5028.000000,5029.000000,4.551000e+03,4.159000e+03,5.042000e+03,5022.000000,4993.000000,5042.000000,4938.000000,5035.000000,5029.000000,5020.000000,5042.000000,5042.000000
mean,2521.500000,107.201074,1.371446,3.975262e+07,4.846841e+07,8.368475e+04,272.770808,140.194272,7527.457160,686.621709,6561.323932,1652.080533,645.009761,9700.959143,6.442007
std,1455.644359,25.197441,2.013683,2.061149e+08,6.845299e+07,1.384940e+05,377.982886,121.601675,19322.070537,2813.602405,15021.977635,4042.774685,1665.041728,18165.101925,1.125189
min,1.000000,7.000000,0.000000,2.180000e+02,1.620000e+02,5.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.600000
25%,1261.250000,93.000000,0.000000,6.000000e+06,5.340988e+06,8.599250e+03,65.000000,50.000000,0.000000,7.000000,614.500000,281.000000,133.000000,1411.250000,5.800000
50%,2521.500000,103.000000,1.000000,2.000000e+07,2.551750e+07,3.437100e+04,156.000000,110.000000,166.000000,49.000000,988.000000,595.000000,371.500000,3091.000000,6.600000
75%,3781.750000,118.000000,2.000000,4.500000e+07,6.230944e+07,9.634700e+04,326.000000,195.000000,3000.000000,194.750000,11000.000000,918.000000,636.000000,13758.750000,7.200000
max,5042.000000,511.000000,43.000000,1.221550e+10,7.605058e+08,1.689764e+06,5060.000000,813.000000,349000.000000,23000.000000,640000.000000,137000.000000,23000.000000,656730.000000,9.500000

In [27]:
np.sum(data.isnull()) #menampilkan data yang missing (terdapat data yang tidak lengkap)

movie_code                     0
duration                      14
facenumber_in_poster          13
country                        4
budget                       491
gross                        883
num_voted_users                0
num_user_for_reviews          20
num_critic_for_reviews        49
movie_facebook_likes           0
director_facebook_likes      104
actor_1_facebook_likes         7
actor_2_facebook_likes        13
actor_3_facebook_likes        22
cast_total_facebook_likes      0
imdb_score                     0
imdb_score_class               0
dtype: int64

In [28]:
#kurang dari 10% maka dapat diabaikan atau di imputasi
#lebih dari 15% menjadi kadidat untuk dihapus (dilihat dari korelasi dengan respon)
#lebih dari 50% maka variabelnya dapat dihapus

In [29]:
#imputasi denganmenggunakan nilai mean

#imputasi dapat menggunakan mean dan median
#median digunakan apabila data tidak berdistribusi normal atau banyaknya data yang outlier

data['budget']=data['budget'].fillna (3.975262e+07)
data['gross']=data['gross'].fillna (4.846841e+07)
data['duration']=data['duration'].fillna (107.201074)
data['facenumber_in_poster']=data['facenumber_in_poster'].fillna (1.371446)
data['num_user_for_reviews']=data['num_user_for_reviews'].fillna (272.770808)
data['num_critic_for_reviews']=data['num_critic_for_reviews'].fillna (140.194272)
data['director_facebook_likes']=data['director_facebook_likes'].fillna (686.621709)
data['actor_1_facebook_likes']=data['actor_1_facebook_likes'].fillna (6561.323932)
data['actor_2_facebook_likes']=data['actor_2_facebook_likes'].fillna (1652.080533)
data['actor_3_facebook_likes']=data['actor_3_facebook_likes'].fillna (645.009761)
np.sum(data.isnull())

movie_code                   0
duration                     0
facenumber_in_poster         0
country                      4
budget                       0
gross                        0
num_voted_users              0
num_user_for_reviews         0
num_critic_for_reviews       0
movie_facebook_likes         0
director_facebook_likes      0
actor_1_facebook_likes       0
actor_2_facebook_likes       0
actor_3_facebook_likes       0
cast_total_facebook_likes    0
imdb_score                   0
imdb_score_class             0
dtype: int64

In [30]:
#cara kedua tanpa harus mengetahui nilai mean
data['budget']=data['budget'].fillna (data['budget'].mean())
data['gross']=data['gross'].fillna (data['gross'].mean())
data['duration']=data['duration'].fillna (data['duration'].mean())
data['facenumber_in_poster']=data['facenumber_in_poster'].fillna (data['facenumber_in_poster'].mean())
data['num_user_for_reviews']=data['num_user_for_reviews'].fillna (data['num_user_for_reviews'].mean())
data['num_critic_for_reviews']=data['num_critic_for_reviews'].fillna (data['num_critic_for_reviews'].mean())
data['director_facebook_likes']=data['director_facebook_likes'].fillna (data['director_facebook_likes'].mean())
data['actor_1_facebook_likes']=data['actor_1_facebook_likes'].fillna (data['actor_1_facebook_likes'].mean())
data['actor_2_facebook_likes']=data['actor_2_facebook_likes'].fillna (data['actor_2_facebook_likes'].mean())
data['actor_3_facebook_likes']=data['actor_3_facebook_likes'].fillna (data['actor_3_facebook_likes'].mean())
np.sum(data.isnull())

movie_code                   0
duration                     0
facenumber_in_poster         0
country                      4
budget                       0
gross                        0
num_voted_users              0
num_user_for_reviews         0
num_critic_for_reviews       0
movie_facebook_likes         0
director_facebook_likes      0
actor_1_facebook_likes       0
actor_2_facebook_likes       0
actor_3_facebook_likes       0
cast_total_facebook_likes    0
imdb_score                   0
imdb_score_class             0
dtype: int64

In [31]:
#apabila data kategorik menggunakan modus

from scipy.stats import mode
data['country']=data['country'].fillna(data['country']).dropna().mode()[0]

In [32]:
data.isnull().sum()

movie_code                   0
duration                     0
facenumber_in_poster         0
country                      0
budget                       0
gross                        0
num_voted_users              0
num_user_for_reviews         0
num_critic_for_reviews       0
movie_facebook_likes         0
director_facebook_likes      0
actor_1_facebook_likes       0
actor_2_facebook_likes       0
actor_3_facebook_likes       0
cast_total_facebook_likes    0
imdb_score                   0
imdb_score_class             0
dtype: int64

In [33]:
#untuk melihat modus
(data['country'].mode())

0    USA
dtype: object

## Data Outlier

In [34]:
#univariat = dilhat berdasarkan variabel pada pengamatan
#mengatasi outlier, dapat menghapus 1 pengamatan

from scipy import stats
data1=data.drop('country',1)
z = np.abs(stats.zscore(data1._get_numeric_data()))
print(z)

data=data[(z<3).all(axis=1)]
print(data.shape)

[[1.73170732 2.81395543 0.68201074 ... 0.12640574 0.26795566 1.29590414]
 [1.73102027 2.4562438  0.68201074 ... 0.21368996 2.12786442 0.58484214]
 [1.73033322 1.62158335 0.18471742 ... 0.29135456 0.11005934 0.3181939 ]
 ...
 [1.73033322 1.24010965 0.68201074 ... 0.38827014 0.53409672 0.12621985]
 [1.73102027 0.28621199 1.80445584 ... 0.09391165 0.40273293 0.12621985]
 [1.73170732 0.68366935 0.68201074 ... 0.37863877 0.52512258 0.1404284 ]]
(4258, 17)

In [36]:
a= pd.read_csv("Midwest Ori.csv", sep=";")
a.head()

,Unnamed: 0,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,1,561,ADAMS,IL,0.052,66090,127.096.154,63917,1702,98,...,196.313.918,435.585.939,63628,962.747.768,131.514.428,180.117.169,110.097.759,124.438.118,0,AAR
1,2,562,ALEXANDER,IL,0.014,10626,759,7054,3496,19,...,112.433.076,287.031.529,10529,990.871.447,322.442.777,458.265.139,273.856.467,252.289.759,0,LHR
2,3,563,BOND,IL,0.022,14991,681.409.091,14477,429,35,...,170.338.194,448.857.172,14235,949.569.742,120.688.444,14.036.061,1.085.209,1.269.741,0,AAR
3,4,564,BOONE,IL,0.017,30806,181.211.765,29344,127,46,...,172.789.539,419.779.992,30337,984.775.693,720.901.869,111.795.358,553.601.292,621.704.745,1,ALU
4,5,565,BROWN,IL,0.018,5836,324.222.222,5264,547,14,...,14.475.999,336.768.032,4815,825.051.405,135.202.492,130.228.887,111.432.109,19.2,0,AAR

In [37]:
a.isnull().sum()

Unnamed: 0              0
PID                     0
county                  0
state                   0
area                    0
poptotal                0
popdensity              0
popwhite                0
popblack                0
popamerindian           0
popasian                0
popother                0
percwhite               0
percblack               0
percamerindan           0
percasian               0
percother               0
popadults               0
perchsd                 0
percollege              0
percprof                0
poppovertyknown         0
percpovertyknown        0
percbelowpoverty        0
percchildbelowpovert    0
percadultpoverty        0
percelderlypoverty      0
inmetro                 0
category                0
dtype: int64