# Transformasi Data

## 5 Maret 2019

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("pcademo.csv")
data.head()

,State,Census Resident Total Population - Apr-1-2000,Resident Total Population Estimate - Jul-1-2000,Resident Total Population Estimate - Jul-1-2001,Net Domestic Migration - Jul-1-2000,Net Domestic Migration - Jul-1-2001,Federal/Civilian Movement from Abroad - Jul-1-2000,Federal/Civilian Movement from Abroad - Jul-1-2001,Net International Migration - Jul-1-2000,Net International Migration - Jul-1-2001,...,Period Births - Jul-1-2001,Period Deaths - Jul-1-2000,Period Deaths - Jul-1-2001,Resident Under 65 Population Estimate - Jul-1-2000,Resident Under 65 Population Estimate - Jul-1-2001,Resident 65 Plus Population Estimate - Jul-1-2000,Resident 65 Plus Population Estimate - Jul-1-2001,Residual - Jul-1-2000,Residual - Jul-1-2001,Unnamed: 20
0,Alabama,4447100.0,4451493.0,4464356.0,-1434.0,-7966.0,17.0,-98.0,714.0,3079.0,...,64319.0,10622.0,45912.0,3870598.0,3880476.0,580895.0,583880.0,-94.0,-559.0,NaN
1,Alaska,626932.0,627601.0,634892.0,-1611.0,-1091.0,28.0,-152.0,379.0,1330.0,...,10128.0,679.0,2949.0,591644.0,598036.0,35957.0,36856.0,56.0,25.0,NaN
2,Arizona,5130632.0,5165274.0,5307331.0,17259.0,75633.0,37.0,-180.0,6124.0,22794.0,...,84295.0,9486.0,41217.0,4492186.0,4614912.0,673088.0,692419.0,222.0,732.0,NaN
3,Arkansas,2673400.0,2678030.0,2692090.0,1101.0,964.0,6.0,-36.0,739.0,2879.0,...,38629.0,6557.0,28286.0,2303817.0,2318055.0,374213.0,374035.0,0.0,-90.0,NaN
4,California,33871648.0,34000446.0,34501130.0,-19015.0,-69499.0,336.0,-1515.0,71852.0,271841.0,...,530349.0,54040.0,231693.0,30389907.0,30845002.0,3610539.0,3656128.0,-112.0,1201.0,NaN

In [4]:
#cara mengambil data tertentu saja/memotong data
x=data.iloc[0:51,1:20]
x.tail()

,Census Resident Total Population - Apr-1-2000,Resident Total Population Estimate - Jul-1-2000,Resident Total Population Estimate - Jul-1-2001,Net Domestic Migration - Jul-1-2000,Net Domestic Migration - Jul-1-2001,Federal/Civilian Movement from Abroad - Jul-1-2000,Federal/Civilian Movement from Abroad - Jul-1-2001,Net International Migration - Jul-1-2000,Net International Migration - Jul-1-2001,Period Births - Jul-1-2000,Period Births - Jul-1-2001,Period Deaths - Jul-1-2000,Period Deaths - Jul-1-2001,Resident Under 65 Population Estimate - Jul-1-2000,Resident Under 65 Population Estimate - Jul-1-2001,Resident 65 Plus Population Estimate - Jul-1-2000,Resident 65 Plus Population Estimate - Jul-1-2001,Residual - Jul-1-2000,Residual - Jul-1-2001
46,7078515.0,7104016.0,7187734.0,8119.0,18299.0,232.0,-1212.0,5721.0,22619.0,24352.0,100188.0,13158.0,57337.0,6308235.0,6380181.0,795781.0,807553.0,235.0,1161.0
47,5894121.0,5908372.0,5987973.0,425.0,21995.0,83.0,-444.0,5249.0,22052.0,19388.0,80339.0,10365.0,44681.0,5244172.0,5317341.0,664200.0,670632.0,-529.0,340.0
48,1808344.0,1807099.0,1801916.0,-1411.0,-4442.0,0.0,-1.0,129.0,491.0,5041.0,20436.0,4937.0,21435.0,1530334.0,1526360.0,276765.0,275556.0,-67.0,-232.0
49,5363675.0,5372243.0,5401906.0,1536.0,2974.0,0.0,-5.0,1571.0,6056.0,16696.0,68631.0,11058.0,47276.0,4669153.0,4698404.0,703090.0,703502.0,-177.0,-717.0
50,493782.0,494001.0,494423.0,-399.0,-2041.0,5.0,-27.0,100.0,390.0,1480.0,6130.0,976.0,3980.0,436178.0,436217.0,57823.0,58206.0,9.0,-50.0

In [6]:
#normalization
from sklearn.preprocessing import normalize
xnorm=normalize(x,norm='l2') #default norm l2, other are l1 and max
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
46,0.462700,0.464367,0.469840,0.000531,0.001196,0.000015,-7.922467e-05,0.000374,0.001479,0.001592,0.006549,0.000860,0.003748,0.412350,0.417053,0.052018,0.052787,0.000015,0.000076
47,0.462826,0.463946,0.470196,0.000033,0.001727,0.000007,-3.486439e-05,0.000412,0.001732,0.001522,0.006308,0.000814,0.003509,0.411790,0.417536,0.052155,0.052660,-0.000042,0.000027
48,0.473139,0.472813,0.471457,-0.000369,-0.001162,0.000000,-2.616422e-07,0.000034,0.000128,0.001319,0.005347,0.001292,0.005608,0.400400,0.399360,0.072413,0.072097,-0.000018,-0.000061
49,0.467409,0.468156,0.470741,0.000134,0.000259,0.000000,-4.357173e-07,0.000137,0.000528,0.001455,0.005981,0.000964,0.004120,0.406886,0.409435,0.061270,0.061306,-0.000015,-0.000062
50,0.466655,0.466862,0.467261,-0.000377,-0.001929,0.000005,-2.551669e-05,0.000095,0.000369,0.001399,0.005793,0.000922,0.003761,0.412216,0.412252,0.054646,0.055008,0.000009,-0.000047

In [7]:
#minmax
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(-5,1))
scaler.fit(x)
x_scaled=scaler.transform(x)
x_scaled=pd.DataFrame(x_scaled)
x_scaled.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
46,-3.816329,-3.816344,-3.819060,-0.837422,-1.735456,-0.857143,-3.799207,-4.529964,-4.508216,-3.930357,-3.923450,-3.596840,-3.573392,-3.823774,-3.827188,-3.724622,-3.722345,-1.816967,-1.375883
47,-4.029236,-4.030448,-4.030741,-1.443074,-1.681392,-3.517857,-0.755614,-4.569434,-4.520748,-4.162506,-4.150634,-3.910890,-3.905361,-4.036916,-4.036899,-3.945483,-3.949331,-4.480535,-2.267789
48,-4.763695,-4.764864,-4.769311,-1.587599,-2.068107,-5.000000,1.000000,-4.997575,-4.997281,-4.833465,-4.836259,-4.521223,-4.515109,-4.780831,-4.784902,-4.595799,-4.604285,-2.869843,-2.889191
49,-4.124589,-4.126453,-4.134144,-1.355619,-1.959627,-5.000000,0.984148,-4.876993,-4.874286,-4.288401,-4.284639,-3.832968,-3.837294,-4.152097,-4.159022,-3.880205,-3.894840,-3.253341,-3.416078
50,-5.000000,-5.000000,-5.000000,-1.507937,-2.032986,-4.910714,0.896962,-5.000000,-4.999514,-5.000000,-5.000000,-4.966605,-4.972957,-5.000000,-5.000000,-4.963298,-4.964606,-2.604881,-2.691472

In [8]:
#3igmoid
xsigmoidal=(1-2.718281818**(-xnorm))/(1+2.718281818**(-xnorm))
xsigmoidal=pd.DataFrame(xsigmoidal)
xsigmoidal.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
46,0.227309,0.228099,0.230692,0.000265,0.000598,0.000008,-3.961233e-05,0.000187,0.000739,0.000796,0.003274,0.000430,0.001874,0.203302,0.205555,0.026003,0.026387,0.000008,0.000038
47,0.227369,0.227899,0.230860,0.000017,0.000864,0.000003,-1.743220e-05,0.000206,0.000866,0.000761,0.003154,0.000407,0.001754,0.203034,0.205787,0.026072,0.026324,-0.000021,0.000013
48,0.232253,0.232099,0.231457,-0.000185,-0.000581,0.000000,-1.308211e-07,0.000017,0.000064,0.000659,0.002673,0.000646,0.002804,0.197567,0.197068,0.036191,0.036033,-0.000009,-0.000030
49,0.229541,0.229894,0.231118,0.000067,0.000130,0.000000,-2.178586e-07,0.000068,0.000264,0.000727,0.002990,0.000482,0.002060,0.200682,0.201905,0.030625,0.030643,-0.000008,-0.000031
50,0.229183,0.229282,0.229470,-0.000189,-0.000964,0.000002,-1.275835e-05,0.000047,0.000184,0.000699,0.002897,0.000461,0.001881,0.203238,0.203256,0.027316,0.027497,0.000004,-0.000024

In [10]:
#desimal scalling
xdecimal=x/(10**5)
xdecimal=pd.DataFrame(xdecimal)
xdecimal.tail()

,Census Resident Total Population - Apr-1-2000,Resident Total Population Estimate - Jul-1-2000,Resident Total Population Estimate - Jul-1-2001,Net Domestic Migration - Jul-1-2000,Net Domestic Migration - Jul-1-2001,Federal/Civilian Movement from Abroad - Jul-1-2000,Federal/Civilian Movement from Abroad - Jul-1-2001,Net International Migration - Jul-1-2000,Net International Migration - Jul-1-2001,Period Births - Jul-1-2000,Period Births - Jul-1-2001,Period Deaths - Jul-1-2000,Period Deaths - Jul-1-2001,Resident Under 65 Population Estimate - Jul-1-2000,Resident Under 65 Population Estimate - Jul-1-2001,Resident 65 Plus Population Estimate - Jul-1-2000,Resident 65 Plus Population Estimate - Jul-1-2001,Residual - Jul-1-2000,Residual - Jul-1-2001
46,70.78515,71.04016,71.87734,0.08119,0.18299,0.00232,-0.01212,0.05721,0.22619,0.24352,1.00188,0.13158,0.57337,63.08235,63.80181,7.95781,8.07553,0.00235,0.01161
47,58.94121,59.08372,59.87973,0.00425,0.21995,0.00083,-0.00444,0.05249,0.22052,0.19388,0.80339,0.10365,0.44681,52.44172,53.17341,6.64200,6.70632,-0.00529,0.00340
48,18.08344,18.07099,18.01916,-0.01411,-0.04442,0.00000,-0.00001,0.00129,0.00491,0.05041,0.20436,0.04937,0.21435,15.30334,15.26360,2.76765,2.75556,-0.00067,-0.00232
49,53.63675,53.72243,54.01906,0.01536,0.02974,0.00000,-0.00005,0.01571,0.06056,0.16696,0.68631,0.11058,0.47276,46.69153,46.98404,7.03090,7.03502,-0.00177,-0.00717
50,4.93782,4.94001,4.94423,-0.00399,-0.02041,0.00005,-0.00027,0.00100,0.00390,0.01480,0.06130,0.00976,0.03980,4.36178,4.36217,0.57823,0.58206,0.00009,-0.00050

In [14]:
#softmax (fungsi dibuat sendiri)
def softmax(x):
    return np.exp(x)/np.sum(np.exp(x), axis=0)
xsoft=softmax(xnorm)
xsoft=pd.DataFrame(xsoft)
xsoft.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
46,0.019544,0.019558,0.019593,0.019618,0.019629,0.019608,0.019607,0.019609,0.019613,0.019608,0.019608,0.019606,0.019601,0.019687,0.019713,0.019479,0.019487,0.019608,0.019610
47,0.019547,0.019550,0.019600,0.019608,0.019639,0.019608,0.019608,0.019610,0.019618,0.019607,0.019604,0.019605,0.019596,0.019676,0.019723,0.019482,0.019485,0.019607,0.019609
48,0.019749,0.019724,0.019625,0.019600,0.019582,0.019608,0.019608,0.019603,0.019587,0.019603,0.019585,0.019614,0.019637,0.019453,0.019367,0.019880,0.019867,0.019608,0.019607
49,0.019637,0.019633,0.019611,0.019610,0.019610,0.019608,0.019608,0.019605,0.019595,0.019605,0.019597,0.019608,0.019608,0.019579,0.019563,0.019660,0.019654,0.019608,0.019607
50,0.019622,0.019607,0.019543,0.019600,0.019567,0.019608,0.019608,0.019604,0.019592,0.019604,0.019594,0.019607,0.019601,0.019684,0.019619,0.019530,0.019531,0.019608,0.019607

In [15]:
#feature selection (mencari skor)
from sklearn.feature_selection import SelectKBest, chi2, f_regression
Xx=x.iloc[0:51,1:20]
y=x.iloc[0:51,1]
selector=SelectKBest(f_regression,k="all").fit(Xx,y)
X_new= selector.transform(Xx)
scores= selector.scores_
scores

array([1.10338191e+17, 5.61375136e+05, 3.36516052e+00, 1.44451214e+00,
       4.99675650e+01, 4.33492917e+01, 2.71500530e+02, 2.81466705e+02,
       3.05153091e+03, 3.01376496e+03, 1.09412350e+03, 1.02966997e+03,
       4.78297078e+04, 4.08507686e+04, 8.40708042e+02, 8.74017871e+02,
       1.53597567e+00, 3.97449012e+00])